.container {
    max-width: 600px;
  }
  .btn {
    background: #43d9be;
    color: white;
    outline: none !important;
    box-shadow: none !important;
    border-radius: 5px; /* rounded edges */
    transition: background-color 0.3s; /* smooth transition for hover effect */
  }
  .btn:hover {
    background-color: #36bca0; /* slightly darker on hover */
  }
  .input-group-text, .form-control {
    border-radius: 5px; /* rounded edges for input groups */
  }
  